body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(193, 193, 193, 0.331);
  position: relative;

}

.header {
  background-color: #f1f1f1;
  margin-bottom: -0.40%;
}

#navbar {
  overflow: hidden;
  background-color: #333333;
  position: sticky;
  top: 0;
}


#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition-duration: 700ms;
}

#navbar a:hover {
  background-color: #656565bb;
  color: white;
  border-radius: 5px;
}


.content {
  padding: 16px;
}
.active{
  font-family: 'Courier New', Courier, monospace;
  font-size: 600;
  margin-left: 1.5%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.header{
  background-color: #fbfcfc
}
#fotoHeader{
  min-width: 99.7vw;
  min-height: auto;
  z-index: -1;
}
.nav2{
  float: right;
  margin-right: 3%;
  font-weight: 500;
}
#titleHome{
    font-size: xxx-large;
    color: black;
    font-weight: 550;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    margin-top: -1%;
}
main{
  text-align: center;
}
.InfoHome{
  margin: -1% 7% 0% 7%;
  background-color: #a9a9a96c;
  padding: 1% 0% 2% 0%;
  border-radius: 5px;
}
.info{
  margin: -0.5% 2% -0.5% 2%;
}
.footer{
  position: fixed;
  background-color: #333333;
  height: 8%;
  text-align: center;
}
.knop{
  background-color: #65656589;
  margin: 2% 46% 2% 46%;
  padding: 0.5% 0 0.5% 0; 
  transition-duration: 500ms;
  border: 3px solid #65656589;
}
.knop:hover{
border-radius: 10px;
background-color: #65656539;
border: 3px solid #65656539;
padding: -1%;
}
.Form1{
  background-color: #6261615d;
  margin: 7% 40% 0% 40%;
  padding: 2% 1%;
}
.footr{
  width: 100vw;
  color: white;
  bottom: 0px;
}