body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;background-color: #51acc59a;
}

.header {
  background-color: #f1f1f1;
  margin-bottom: -0.40%;
}

#navbar {
  overflow: hidden;
  background-color: rgb(4, 78, 174);
  position: sticky;
  top: 0;
}


#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition-duration: 700ms;
}

#navbar a:hover {
  background-color: #5ccffcd1;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}


.content {
  padding: 16px;
}
.active{
  font-family: 'Courier New', Courier, monospace;
  font-size: 600;
  margin-left: 1.5%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.header{
  background-color: #fbfcfc
}
#fotoHeader{
  min-width: 99.7vw;
  min-height: auto;
  z-index: -1;
}
.nav2{
  float: right;
  margin-right: 3%;
  font-weight: 500;
}
#titleHome{
    font-size: xxx-large;
    color: black;
    font-weight: 550;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}
main{
  text-align: center;
}
.InfoHome{
  margin: 0% 5% 0% 5%;
  box-shadow: 3px 3px 3px  grey;
  background-color: rgba(71, 243, 243, 0.642);
  padding: 1% 2% 2% 2%;
  border-radius: 15px;
}
.info{
  margin: 0% 5% 0% 5%;
}