main{
    text-align: center;
}

.Form1{
    display: flex;
    background-color: #bccef8bd;
    margin: calc(40vh - 100.094px) auto 0 auto;
    padding: 2% 1%;
    border-radius: 10px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    font-family: 'myFirstFont';
    width: 342px;

    > form{
        > div{
            width: 330px;
            height: 140px;
            margin: 10px 0 0 0;

            > div:nth-of-type(1){
                float: left;
                display: inline;
            }

            > div:nth-of-type(2){
                float: right;
                display: inline;

                > input{
                    display: block;
                    margin: 0 0 30px 0;
                }

                > input:nth-of-type(3){
                    margin: 0;
                }
            }

            p{
                margin: 0 0 20px 0;
            }

            p:nth-of-type(3){
                margin: 0;
            }

            > input{
                display: block;
            }
        }

        > input{
            background-color: #dae4faf6;
            padding: 2% 2%; 
            transition-duration: 500ms;
            border: 2px solid #eae9e939;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }
}