@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@800&display=swap');

body{
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAF7F0;
    position: relative;
}

header{
    width: 100%;

    > div{
        background-color: #FAF7F0;
        margin-bottom: -0.40%;
        width: 100%;

        > img{
            width: 100%;
            min-width: 100%;
            max-width: 100%;
        }
    }
}

#navbar{
    overflow: hidden;
    background-color: #98A8F8;
    position: sticky;
    top: 0;
    min-width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    > div{
        > p{
            font-size: medium;
            float: left;
            color: white;
            margin: 15px 10px 0 0;
        }
    }

    a{
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        transition-duration: 700ms;
    }

    a:hover{
        background-color: #656565bb;
        color: white;
        border-radius: 5px;
    }
}
.content{
    padding: 16px;
}

.active{
    font-family: 'Rubik Vinyl', cursive;
    font-size: larger;
    font-size: 600;
    margin-left: 1.5%;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top: 60px;
}

.header{
    background-color: #FAF7F0
}

#fotoHeader{
    background-color: #FAF7F0;
    display: block;
}

.nav2{
    float: right;
    margin-right: 3%;
    font-weight: 500;
}

#titleHome{
    font-size: xxx-large;
    color: black;
    font-weight: 550;
    font-family: 'Rubik Vinyl', cursive;
    margin-top: -1%;
}

main{
    text-align: center;
}

.InfoHome{
    margin: 3% 7% 0% 7%;
    background-color: #bccef87f;
    padding: 1% 2% 2% 2%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.info{
    margin: 1% 2% -0.5% 2%;
}

.knop{
    min-width: 100px;
    background-color: #BCCEF8;
    margin: 2% 46% 2% 46%;
    padding: 0.5% 0 0.5% 0; 
    transition-duration: 500ms;
    border: 2px solid #65656539;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.knop:hover{
    border-radius: 10px;
    background-color: #87a0da;
    border: 2px solid #a2ecf4;
    padding: -1%;
}

.knop2:hover{
    border-radius: 8px;
    background-color: #f4f6fbd1;
    border: 2px solid #89dfe8;
    padding: -1%;
}

.Form1{
    display: flex;
    background-color: #bccef8bd;
    margin: calc(40vh - 100.094px) auto 0 auto;
    padding: 2% 1%;
    border-radius: 10px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    font-family: 'myFirstFont';
    width: 342px;

    > form{
        > div{
            width: 330px;
            height: 140px;
            margin: 10px 0 0 0;

            > div:nth-of-type(1){
                float: left;
                display: inline;
                margin: 0 10px 0 0;
            }

            > div:nth-of-type(2){
                float: right;
                display: inline;

                > input{
                    display: block;
                    margin: 0 0 30px 0;
                }

                > input:nth-of-type(3){
                    margin: 0;
                }
            }

            p{
                margin: 0 0 20px 0;
            }

            p:nth-of-type(3){
                margin: 0;
            }

            > input{
                display: block;
            }
        }

        > input{
            background-color: #dae4faf6;
            padding: 2% 2%; 
            transition-duration: 500ms;
            border: 2px solid #eae9e939;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }
}

footer{
    bottom: 0%;

    > div{
        width: 100%;
        position: sticky;
        background-color: #98A8F8;
        height: 8%;
        text-align: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

        > p{
            color: white;
            margin: 0;
            padding: 15px;
        }
    }
}

.ttl1{
    text-align: left;
}

.scores{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #adb8ee6e;
    padding: 3% 5%;
    margin: 2% 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .ttlHG{
        text-decoration: underline;
        font-size: xx-large;
        font-weight: 700;
    }

    table{
        text-align: center;
        justify-content: center;
        display: flex;
        margin-top: 2%;
        border-collapse: collapse;
        width: 100%;
        border-radius: 10px;

        td,
        th{
            border: 2px solid lightgrey;
            text-align: center;
            padding: 8px 10vw;
            background-color: #bccef87f;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }
}

tr:nth-child(even){
    background-color: #98A8F8;
}

// Footer
// Fixed
.footerFixed{
    bottom: 0;
    position: fixed;
    width: 100%;
}

// Game
#contentDiv{
    > .itemDiv{
        width: 30%;
        max-width: 550px;
        margin: 0 auto 0 auto;
        outline: solid 2px red;

        > h1,
        p{
            text-align: center;
        }
    }
}