@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@800&display=swap');

body{
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAF7F0;
    position: relative;
}

header{
    width: 100%;

    > div{
        background-color: #FAF7F0;
        margin-bottom: -0.40%;
        width: 100%;

        > img{
            width: 100%;
            min-width: 100%;
            max-width: 100%;
        }
    }
}

#navbar{
    overflow: hidden;
    background-color: #98A8F8;
    position: sticky;
    top: 0;
    min-width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition-duration: 700ms;
}

#navbar a:hover{
    background-color: #656565bb;
    color: white;
    border-radius: 5px;
}

.content{
    padding: 16px;
}

.active{
    font-family: 'Rubik Vinyl', cursive;
    font-size: larger;
    font-size: 600;
    margin-left: 1.5%;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top: 60px;
}

.header{
    background-color: #FAF7F0
}

#fotoHeader{
    background-color: #FAF7F0;
    display: block;
}

.nav2{
    float: right;
    margin-right: 3%;
    font-weight: 500;
}

#titleHome{
    font-size: xxx-large;
    color: black;
    font-weight: 550;
    font-family: 'Rubik Vinyl', cursive;
    margin-top: -1%;
}

main{
    text-align: center;
}

.InfoHome{
    margin: 3% 7% 0% 7%;
    background-color: #bccef87f;
    padding: 1% 2% 2% 2%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.info{
    margin: 1% 2% -0.5% 2%;
}

.knop{
    min-width: 100px;
    background-color: #BCCEF8;
    margin: 2% 46% 2% 46%;
    padding: 0.5% 0 0.5% 0; 
    transition-duration: 500ms;
    border: 2px solid #65656539;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.knop2{
    background-color: #dae4faf6;
    padding: 2% 2%; 
    transition-duration: 500ms;
    border: 2px solid #eae9e939;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.knop:hover{
    border-radius: 10px;
    background-color: #87a0da;
    border: 2px solid #a2ecf4;
    padding: -1%;
}

.knop2:hover{
    border-radius: 8px;
    background-color: #f4f6fbd1;
    border: 2px solid #89dfe8;
    padding: -1%;
}

.Form1{
    display: flex;
    background-color: #bccef8bd;
    margin: calc(40vh - 100.094px) auto 0 auto;
    padding: 2% 1%;
    border-radius: 10px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    font-family: 'myFirstFont';
    width: 342px;

    > form{
        > div{
            width: 330px;
            height: 140px;
            margin: 10px 0 0 0;

            > div:nth-of-type(1){
                float: left;
                display: inline;
                margin: 0 10px 0 0;
            }
    
            > div:nth-of-type(2){
                float: right;
                display: inline;

                > input{
                    display: block;
                    margin: 0 0 30px 0;
                }
                > input:nth-of-type(3){
                    margin: 0;
                }
            }

            p{
                margin: 0 0 20px 0;
            }

            p:nth-of-type(3){
                margin: 0;
            }

            > input{
                display: block;
            }
        }
    }
}

footer{
    > div{
        width: 100%;
        position: sticky;
        background-color: #98A8F8;
        height: 8%;
        text-align: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

        > p{
            color: white;
            margin: 0;
            padding: 15px;
         
            
        }
    }
}
.ttl1{
    text-align: left;
}